---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:600|Roboto:900,400,300);


// Our variables
$base-font-family: 'Roboto', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.75;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:         #2d2d2d;
$background-color:   #fff;
$brand-color:        #03C9A9;
$complement-color-1: #22A7F0;

$color-blue:       #4183D7;

$grey-color:       #828282;
$grey-color-light: #F3F5F8;
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Using retina queries with like this:
// @include retina-query() {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin retina-query() {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
