<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- android -->
  <link rel="shortcut icon" sizes="196x196" href="/assets/images/teknodrom-icon-196x196.png">

  <!-- iOS -->
  <link rel="apple-touch-icon" href="/assets/images/teknodrom-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/teknodrom-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/teknodrom-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/teknodrom-icon-ipad-retina.png">

  <!-- Scrapping (Facebook) -->
  <meta property="og:url" content="{{ site.url}}" />
  <meta property="og:title" content="We Are Teknodrom" />
  <meta property="og:site_name" content="{{ site.title}}" />
  <meta property="og:site_name" content="{{ site.title}}" />
  <meta property="og:description" content="{{ site.description}}" />
  <meta property="og:type"   content="website" />
  <meta property="og:image" content="http://teknodrom.cc/assets/images/teknodrom-facebook.png" />
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Scrapping (Twitter) -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:title" content="{{ site.title }}" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta name="twitter:image" content="http://teknodrom.cc/assets/images/teknodrom-icon-twitter.png" />

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
