/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .site-footer {
    text-align: center;
  }
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  border-top: 4px solid $brand-color;
  padding: $spacing-unit 0;
}

header {
  position: relative;
  background-color: $text-color;
  color: #fff;
  text-align: center;
  padding-top: 216 + $spacing-unit;
  padding-bottom: $spacing-unit;

  @include media-query(300px) {
    padding-top: percentage(246/300);
  }

  #pyramid, #logo {
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #pyramid {
    position: absolute;
    width: 100%;
    max-width: 300px;
    height: 100%;
    opacity: 0;
    top: -$spacing-unit/2;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/assets/images/symbol_400.png');
    background-position: center top;
    @include retina-query() {
      background-image: url('/assets/images/symbol_800.png');
    }

    -webkit-transition: all .8s cubic-bezier(0.545, 0.055, 0.160, 1); /* older webkit */
    -webkit-transition: all .8s cubic-bezier(0.545, 0.055, 0.160, 1.650);
    -moz-transition: all .8s cubic-bezier(0.545, 0.055, 0.160, 1.650);
    -o-transition: all .8s cubic-bezier(0.545, 0.055, 0.160, 1.650);
    transition: all .8s cubic-bezier(0.545, 0.055, 0.160, 1.650); /* custom */

    &.is-visible {
      top: $spacing-unit;
      opacity: 1;
    }
  }

  #logo {
    max-width: 400px;
    height: 73px;
    margin: 0 auto;
    background-image: url('/assets/images/logo_400.png');
    background-position: center;
    @include retina-query() {
      background-image: url('/assets/images/logo_800.png');
    }
  }

  p {
    font-size: 22px;
    margin: 0;
    span {
      display: block;
    }
    @include media-query($on-palm) {
      font-size: 18px;
      span {
        display: inline;
      }
    }
  }
}

.site-about, .site-team, .site-blog {
  padding-top: $spacing-unit;
  text-align: center;
}

.site-about {
  background-color: $grey-color-light;
  p {
    padding: $spacing-unit 0;
  }
}

.site-team {
  padding-bottom: $spacing-unit;
}

.team-list li {
  display: inline-block;
  width: 32%;
  p {
    margin: 0;
  }

  .member-title {
    font-size: $small-font-size;
    color: $grey-color;
  }

  @include media-query($on-palm) {
      width: 100%;
    }
}

.avatar {
  background-image: url('/assets/images/circle.png');
  height: 140px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: $spacing-unit/2 0;
}

.page-heading {
  font-size: 20px;
  &.is-logo {
    font-family: yukari;
    letter-spacing: 0.0625em;
    font-size: 36px;
  }
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.blog-heading {
  text-align: center;
  border-bottom: solid 1px $grey-color-light;
  margin-bottom: $spacing-unit;
  h1 {
    font-size: 54px;
    margin: 0;
    font-weight: 900;
  }
  p {
    color: $grey-color;
  }

  svg {
    height: 56px;
    width: 66px;
    position: absolute;
    path {
      fill: $color-blue;
    }
  }
}

.post-header {
  margin-bottom: $spacing-unit;
  text-align: center;
  a {
    border: none;
  }
  h2 {
    margin: 0;
  }
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-author {
  font-weight: 400;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
